#logo_container {
  width: 100%;
  background-color: #eceff4;
  margin: 0;
}

#team_logo {
  width: 6%;
}

#team_logos {
  margin-left: auto;
  margin-right: auto;
  margin: 4px, 4px;
  padding: 4px;
  max-width: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

#breadcrumb-list-slidebar {
  margin-left: auto;
  margin-right: auto;
  margin: 4px, 4px;
  padding: 4px;
  max-width: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.liga-mx {
  display: flex;
  overflow-y: auto;
}

.liga-mx img {
  width: 195px;
  height: 114.58px;
  margin-right: 5px;
  display: block;
}

.liga-mx p {
  display: table-cell;
  font-size: 13px;
  font-weight: bold;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
