#logo_container {
  width: 100%;
  background-color: #eceff4;
  margin: 0;
}

#team_logo {
  width: 6%;
}

#team_logos {
  margin-left: auto;
  margin-right: auto;
  margin: 4px, 4px;
  padding: 4px;
  max-width: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

#breadcrumb-list-slidebar {
  margin-left: auto;
  margin-right: auto;
  margin: 4px, 4px;
  padding: 4px;
  max-width: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
